
.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    background-color: black;
    color: #ffffff;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
}
